.banner{
    max-width: 100vw;
    // height: 126.5vh;
    position: relative;
    &__img{
        width: 100%;
        height: 100%;
    }
    &__slogan{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 60vw;
    }
}
@media (max-width: $bpMobile){
    .banner{

        &__slogan{
        font-size: calc(1.5rem + 1.5vw);
        line-height: 2.92rem;
        }

    }
}