.catalogPhoto{
    display: flex;
    flex-direction: column;
    //gap: 3rem;
    margin: 3rem auto;
    // width: 100%;
    & .column-gallery{
        margin: auto;
    }
    &__filters{
        display: flex;
        margin: 3rem auto;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;
        width: 87%;
        & .col1{
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
        }
        & .col2{
            display: flex;
            justify-content: end;
            
        }
        & .filter{
            width: 260px;
            padding: 11px 18px;
        }
    }
}
.loadMore{
    width: 19.43rem;
    height: 3.57rem;
    margin: auto;
    margin-top: 3rem;
    border: none;
}

// *** Responsive mobile ****


