
//home
@media (max-width: $bpMobile) {
    .catalogPhoto{
        
        & .column-gallery{
            display: flex;
            flex-flow: column;
            gap: 2rem;
            justify-content: center;
            width: 100%;
            align-items: center;
        }
        &__filters{
            flex-direction: column;
            & .col1{
                flex-direction: column;
                width: 100%;
            }
        }
    }
    .filter{
        width: 80% !important;
        margin: auto;
    }
}
@media all and (min-width: 1041px) and (max-width: 1250px ){
    #galleryPhoto{
    width: 100% !important;
       
    }
}
@media (max-width: $bpMedium){
    .photoCard{
        width: calc(18rem + 14vw) !important;
        height: calc(19rem + 4vh) !important;        
    }
}
@media (max-width: $bpMobile){
    .photoCard{
        width: 22.69rem !important;
        height: 19.91rem !important;        
    }
}

//single-photographie
@media (max-width: $bpSmall) {
    .left-blockInfo, .single-postPhoto__photoInRight{
        width: 80% !important;
        margin: auto;
    }
    .single-postPhoto{
        flex-direction: column;
    }
    .single-postPhoto__photoInRight{
        order: -1;
    }
    
    .photo-navigation{
        display: none !important;
    }
    .rightpart{
        margin: auto;
        width: 80% !important;
    }
    .relatedPicture{
        &__gallery {
            display: flex !important;
            flex-flow: column;
            gap: 2rem;
            justify-content: center;
            width: 100%;
            align-items: center;
        }
    } 
}
@media all and (max-width: $bpMobile){
    .left-blockInfo{
        width: 47% !important;
    }
}
// Image mise en avant
@media all and (max-width: $bpMobile){
    .singlePhoto-content{
        height: 28.4rem !important;
    }
}
// Lightbox
@media (min-width: 700px) {
    .img-container{
        max-width: 57vw !important;
    }
    .box__prevArrow, .box__nextArrow {
        bottom: 50% !important;
    }
}
@media all and (max-width: $bpMobile){
    .img-container{
        width: auto !important;
        height: auto !important;
    }
    .box__nextArrow, .box__prevArrow{
        bottom: 6% !important;
    }
}
// Footer
@media (max-width: $bpMobile){
    .footerNav{
        width: 100vw;
        height: 14.86rem !important;
        &__menu{
            display: flex;
            flex-direction: column;
            gap: 3.43rem !important;
        }
        
    }
}

// Modale contact
@media all and (max-width: $bpMobile) {
    .modal-content__closebtn{
        bottom: -25% !important;
        right: 45% !important;
    }
}
