@import"./fonts.css";

h1{
    font-family: "Space-mono";
    font-size: 6rem;
    font-weight: bold;
    font-style: italic;
    color: $text-Color;
}
h2{
    font-family: "Space-mono";
    font-size: 4.125rem;
    font-weight: 400;
    font-style: italic;
    color: $text-Color;
}
h3{
    font-family: "Space-mono";
    font-size: 1.125rem;
    font-weight: 400;
    color: $text-Color;
}
.imgDescription{
    font-family: 'Space-mono';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20.73px;
    letter-spacing: 10%;
    color: $text-Color;
}
p{
    font-family: 'Poppins';
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.3rem;
    color: $text-Color;
}
@supports (-webkit-text-stroke: 3px $white) {
    .hero-slogan{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 3px $white;
    }
}
.hero-slogan{
    font-family: 'Space-mono';
    font-weight: 700;
    font-style: italic;
    font-size: calc(4.3rem + 2.5vw);
    line-height: 8.9rem;
    text-transform: uppercase;
}
button{
    font-family: 'Space-mono';
    font-weight: 400;
    font-size: 0.86rem;
    line-height: 1.27rem;
    color: $text-Color;
    &:hover{
        font-weight: 700;
    }
}

@media screen and (max-width: $bpMobile){
    h1{
       font-size: 1.8rem; 
    }
    h2{
        font-size: 2.875rem; 
    }
     h3{
        font-size: 1.125rem; 
    }
    .navbar__menu li a{
        font-size: 44px;
        line-height: 65.16px;
        color: $white;
    }
    @supports (-webkit-text-stroke: 0.86px $white) {
        .hero-slogan{
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 0.86px $white;
        }
    }
}